@import "./../../../app.module.scss";

@mixin activeCategory {
    background-color: white;
    & > a, & > li a {
        color: $mainBlackColor;
    }
}
@mixin categoryPaddings {
    padding-bottom: 55px;
    & > * { // ul or li
        padding: 15px 20px;
        border-radius: 6px;
    }
}

.categoriesContainer {
    position: relative;
    &:hover {
        .categories {
            display: block;
        }
    }
    & > li {
        position: relative;
        white-space: nowrap;
        &:not(:first-child) {
            display: none;
        }
        .categoryContainer {
            display: block;
        }
    }
    li {
        @include sign;
        letter-spacing: normal;
        color: #8E8E8E;
    }
    .categories {
        display: none;
        position: absolute;
        background-color: $mainBlackColor;
        width: 100%;
        margin-top: 20px;
        padding-bottom: 55px;
        border-radius: 6px;
        z-index: 2;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 20px;
            position: absolute;
            top: -20px;
        }
        .categoryContainer {
            display: block;
        }
    }
    .categoryContainer {
        display: none;
        position: relative;
        transition: 0.6s;
        border-radius: 6px;
        padding: 15px 20px;
        &:hover {
            @include activeCategory;
            .subcategoriesContainer {
                display: block;
            }
        }
        a {
            color: white;
        }
        .subcategoriesContainer {
            @include categoryPaddings;
            display: none;
            position: absolute;
            width: 100%;
            color: white;
            left: calc(100% + 11px);
            top: 0;
            background-color: $mainBlackColor;
            border-radius: 6px;
            transition: 0.6s;
            z-index: 2;
            &::before {
                content: '';
                display: block;
                width: 11px;
                height: 100%;
                position: absolute;
                left: -11px;
            }
            li {
                transition: 0.6s;
                &:hover {
                    @include activeCategory;
                }
                &.activeSubcategory {
                    @include activeCategory;
                }
                a::before {
                    content: '-';
                    transform: scale(1.5);
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
    }
}