@import "./../../../app.module.scss";

@mixin buttonSize {
    @include adaptiveValue('width', 40, 35);
    @include adaptiveValue('height', 40, 35);
}

.pagination {
    display: flex;
    justify-content: flex-end;
    &.paginationHidden {
        display: none;
    }
    li {
        button {
            @include sign;
            font-weight: 700;
            color: #7981AD;
            border-radius: 50%;
            margin: 0;
            &[aria-current='true'] {
                @include buttonSize;
                @include sign(true);
                color: white;
                background-color: #7981AD;
            }
            &:hover {
                background-color: #7981AD;
                color: white;
            }
        }
        &:not(:first-child):not(:last-child):not(:nth-child(2)) {
            margin-left: 20px;
        }
        &:first-child button, &:last-child button {
            @include buttonSize;
        }
        &:first-child button, &:last-child button {
            background-color: #ECE7F0;
            svg {
                font-size: 40px;
                color: #7981AD;                
            }
        }
        &:first-child button {
            margin-right: 40px;
        }
        &:last-child button {
            margin-left: 40px;
        }
    }
}