@import "./../../../app.module.scss";
@import "./../button/button.module.scss";

@mixin underlineAfterHover {
    &:after {
        content: '';
        width: 100%;
        height: 10px;
        position: absolute;
        left: 0;
        bottom: -15px;
        background-color: $mainBlackColor;
        border-radius: 6px;
    }
}

.languages {
    @include sign;
    color: #8E8E8E;
    display: flex;
    p {
        cursor: pointer;
    }
    .active {
        color: $mainBlackColor;
        font-weight: 600;
    }
}
.basket {
    @include adaptiveValue('width', 46, 25);
    cursor: pointer;
}
.header {
    background: linear-gradient(42deg, #9796F0 -17%, #FBC7D4 106%);
    padding-top: 2.3%;
    @media screen and (max-width: 899px) {
        padding-top: 0;
    }
    .headerContent {
        @include waveCreator(50px, 1);
        margin: 0 auto;
        min-height: 300px;
        width: fit-content;
        position: relative;
        overflow-x: clip;
        @media screen and (max-width: 899px) {
            min-height: 200px;
        }
        &.mainPageHeaderContent {
            @media screen and (max-width: 899px) {
                &::after {
                    padding-bottom: 200px;
                    background-size: 100% 50px;
                    box-shadow: inset 0 -201px 0 0 white;
                }
            }
            @media screen and (max-width: 500px) {
                &::after {
                    padding-bottom: 330px;
                    box-shadow: inset 0 -331px 0 0 white;
                }
            }
        }
    }
    .appBar { 
        box-shadow: none;
        background-color: inherit;
        @media screen and (max-width: 899px) {
            background-color: rgba(250, 251, 253, 0.44);
        }
        & > div {
            padding: 0;
        }
    }
}
.computerMainContainer {
    .headerContainer {
        @include container;
        align-items: center;
        display: grid;
        grid-template-columns: 5fr 6fr 4fr 1fr 1fr;
        justify-items: center;
        @media screen and (max-width: 899px) {
            grid-template-columns: 1fr 1fr 1fr 11%;
            justify-items: end;
            padding-top: 3.4%;
            padding-bottom: 3.4%;
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: 2fr 1fr 2fr 11%;
        }
        @media screen and (max-width: 500px) {
            grid-template-columns: 7fr 1fr 1fr;
        }
        .logoContainer {
            img {
                width: 100%;
                @media screen and (max-width: 500px) {
                    width: 60%;
                    min-width: 170px;
                }
            }
        }
        .searchContainer {
            width: 86%;
            transform: translateY(-3px);
            height: 52px;
            @media screen and (max-width: 1920px) {
                height: calc(2vw + 10px);
            }
            & div {
                height: 100%;
            }
            .search {
                border: 4px solid #272525;
                border-radius: 90px;
                @media screen and (max-width: 1920px) {
                    border-width: calc(0.16vw + 1px);
                }
                input {
                    @include adaptiveValue('font-size', 18, 14);
                }
                fieldset {
                    border: none;
                }
            }
            
        }
        // .searchItem {
        //     @include sign;
        //     display: grid;
        //     grid-template-columns: 1fr 1fr 1fr;
        //     height: 50px;
        //     &:not(:first-child) {
        //         margin-top: 5%;
        //     }
        //     .img {
        //         width: 50px;
        //         height: 50px;
        //     }
        // }
        .search {
            @media screen and (max-width: 899px) {
                display: none;
            }
        }
        .phoneContainer {
            box-shadow: 0 6px 25px rgb(121 129 173 / 45%);
            @media screen and (max-width: 1920px) and (min-width: 900px) {
                height: calc(2.61vw + 10px);
            }
            @media screen and (max-width: 1200px) {
                width: 90%;
            }
            @media screen and (max-width: 899px) {
                grid-column: 3;
                grid-row: 1;
                width: 80%;
                height: 100%;
            }
            @media screen and (max-width: 500px) {
                display: none;
            }
            // .phone {

            // }
        }
        .mobileSearch {
            filter: brightness(0);
            font-size: 29px;
            @media screen and (max-width: 500px) {
                margin-right: 15px;
            }
        }
        .burger {
            filter: brightness(0);
            font-size: 36px;
        }
    }
    .navLinksContainer {
        margin-top: 2.3%;
        @include customBackground(rgba(250, 251, 253, 0.44));
        .navLinksContnet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            .navContainer {
                & > a, .categoriesContainer  {
                    padding: min(40px, 3vw) 2.1vw;
                    position: relative;
                    &:first-child {
                        margin-left: -3.5%;
                    }
                    &:hover {
                        @include underlineAfterHover;
                        color: white;
                        background-color: $mainBlackColor;
                        border-radius: 6px;
                        & > li a { // for All goods sign
                            color: white;
                        }
                    }
                    @media screen and (min-width: 1921px) {
                        padding: 40px;
                    }
                }
            }
            .goodWithDiscountContainer {
                align-items: center;
                height: max(80px, calc(70px + 1.6vw));
                max-height: 100px;
                width: fit-content;
                margin-left: auto;
                p {
                    z-index: 1;
                }
                img {
                    margin-left: 20px;
                    height: 100%;
                    @media screen and (max-width: 1200px) {
                        position: absolute;
                        right: 0;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
.phoneNavContainer {
    background-color: rgba(0, 0, 0, 0.8);
    & > div:nth-child(1) {
        background-color: initial;
    }
    & > div:nth-child(3) {
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 95%;
        padding: 4% 0 5.4%;
        .close {
            @include adaptiveValue('width', 52, 30);
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .languageAndBasket {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: fit-content;
            & > a:first-child { //basket
                margin-left: 20px;
            }
        }
        .mobileNavLinks {
            flex-direction: column;
            align-items: center;
            a, & > ul {
                margin-top: 15px;
                .active {
                    color: $mainBlackColor;
                    font-weight: 700;
                }
            }
            & > ul li:not(:first-child) {
                display: none;
            }
        }
        .contacts {
            & > div:first-child {
                flex-direction: column-reverse;
                align-items: center;
                & > a {
                    &:first-child { //phone
                        @include button(true, false);
                        margin-top: 13%;
                        width: 180px;
                        height: 35px;
                        line-height: 35px;
                    }
                    &:last-child { //email
                        margin-top: 18%;
                    }
                }
            }
            & > div:last-child {
                display: flex;
                justify-content: center;
            }
        }
    }
}