@import "./../../../app.module.scss";

@mixin greenBackgroundColor {
    background-color: #1FAB8A;
    &:hover {
        background-color: #309F85;
    }
    &:active {
        background: linear-gradient(0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #309F85;
    }
}

@mixin button($backgroundColor: true, $staticSize: true) {
    @include adaptiveValue('font-size', 16, 14);
    font-weight: 500;
    border-radius: 60px;
    transition: background-color 0.6s, color 0.6s;
    box-shadow: none;
    color: #EEF1F6; 
    font-family: 'gilroy';
    text-align: center;
    & * {
        color: #EEF1F6;
    }
    @if ($backgroundColor) {
        @include greenBackgroundColor;
    }
    @if ($staticSize) {
        width: 280px;
        height: 60px;
    }
}

.button {
    @include button(false, false);
    &.staticSize {
        width: 280px;
        height: 60px;
    }
    &.bold {
        @include adaptiveValue('font-size', 18, 14);
        font-weight: 600;
    }
    &.green {
        @include greenBackgroundColor;
    }
    &.blue {
        background-color: #3C336C;
        &:hover {
            background-color: #322a5a;
        }
        &:active {
            background: linear-gradient(0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3C336C;
        }
    }
}