@import "./../../../app.module.scss";

.goodWithDiscountContainer {
    display: flex;
    position: relative;
    .goodWithDiscount {
        @include adaptiveValue('font-size', 38, 24);
        font-weight: 900;
        text-transform: uppercase;
        color: #3C336C;
        @media screen and (max-width: 899px) and (min-width: 768px) {
            width: 140%;
        }
    }
    .img {
        height: 100px;
        width: 200px;
        opacity: 0.5;
    }
}