@import "./../../../app.module.scss";

.formContainer {
    .sign {
        @include sign;
        @include adaptiveValue('font-size', 24, 20);
        width: 14em;
        span {
            color: #1FAB8A;
        }
    }
    .form {
        .textField {
            @include TextFieldError;
            input {
                font-family: 'gilroy';
            }
        }
    }
    &.changedFormContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 90px;
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 30px;
        }
        form {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 440px) {
                width: 336px;
            }
            & > div:not(:first-child), & > button {
                margin-top: 30px;
            }
            & > button {
                width: 75%;
                @media screen and (max-width: 440px) {
                    width: 100%;
                }
            }
        }
    }
}