@import "./../../../app.module.scss";
@import "./../Accordion/accordion.module.scss";

.whatWeCanSewContainer {
    @include container;
    @include defaultMargin(false);
    @media screen and (max-width: 899px) {
        margin-top: 40px;
    }
    .textContainer {
        .article {
            @include article;
        }
        .sign {
            @include sign;
            margin-top: 2%;
        }
    }
    .itemsContainer {
        @include adaptiveValue('gap', 30, 6);
        @include defaultMargin(false);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media screen and (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 899px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 440px) {
            margin-top: 7.4%;
        }
        .itemContainer {
            .img {
                width: 100%;
            }
            .name {
                @include adaptiveValue('font-size', 24, 20);
                text-align: center;
                font-weight: 600;
                margin-top: 3%;
            }
        }
    }
}
.itemContentContainer {
    @include container;
    @include defaultMargin();
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10%;
    @media screen and (max-width: 1200px) {
        gap: 30px;
        grid-template-columns: 1fr;
    }
    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .accordionContainer, .howToOrderContainer {
            margin-top: 2%;
        }
        .howToOrderContainer {
            position: relative;
            @include underline;
            .article {
                @include h3;
            }
            .sign {
                margin-top: 20px;
            }
        }
    }
    .mainInProductImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        @media screen and (max-width: 1200px) {
            max-height: 390px;
        }
    }
}