@import "./../../../app.module.scss";

@mixin upperlineHover {
    &:hover {
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            background-color: $mainBlackColor;
            width: 100%;
            height: 8px;
            top: -8px;
            left: 0;
        }
    }
}

.allGoodsHeader {
    & > img {
        @media screen and (max-width: 1200px) {
            transform: translateX(16%)!important;
            width: 100%!important;
        }
        @media screen and (max-width: 899px) {
            transform: translateX(10%)!important;
            width: 117%!important;
        }
    }
    .textContainer {
        width: 60%;
        @media screen and (max-width: 1400px) {
            width: 80%;
        }
    }
}

.allGoods {
    @include container;
    margin-top: 40px;
    .categoriesContainer {
        display: flex;
        border-top: 8px solid #F2F1F8;
        flex-wrap: wrap;
        & > li, & > ul {
            padding: 2.4vw 15px 0!important;
        }
        & > li {
            @include upperlineHover;
        }
        & > ul { // category
            @include upperlineHover;
            display: block;
            &::before {
                content: none;
            }
            a {
                color: $mainBlackColor;
            }
            & > ul { // subcategory
                top: 100%!important;
                width: 150px!important;
                transform: translateX(-25%)!important;
                & > li a {
                    color: $mainBlackColor!important;
                }
            }  
        }
    }
}