@import "./../../../app.module.scss";

.allGoodsHeader {
    & > img {
        @media screen and (max-width: 1200px) {
            transform: translateX(16%)!important;
            width: 100%!important;
        }
        @media screen and (max-width: 899px) {
            transform: translateX(10%)!important;
            width: 117%!important;
        }
    }
    .textContainer {
        width: 60%;
        @media screen and (max-width: 1400px) {
            width: 80%;
        }
    }
}

.allGoods {
    @include container;
    margin-top: 40px;
    .categoriesContainer {
        display: flex;
        flex-wrap: wrap;
        & > li, & > ul {
            padding: 27.6px 15px 0 !important;
            @media screen and (max-width: 1920px) {
                padding: 2.4vw 15px 0!important;
            }
        }
        & > ul { // category
            display: block;
            &::before {
                content: none;
            }
            a {
                color: $mainBlackColor;
            }
            & > ul { // subcategory
                top: 100%!important;
                width: 160px!important;
                transform: translateX(-25%)!important;
                &::before {
                    content: none;
                }
                & > li a {
                    color: white;
                }
            }  
        }
    }
}