@import "./../../../app.module.scss";

.sewingHeaderContainer {
    .textsContainer {
        width: 75%;
        @media screen and (max-width: 1000px) {
            width: 86%!important;
        }
        @media screen and (max-width: 899px) {
            width: 100%!important;
        }
        p {
            @media screen and (min-width: 1401px) {
                width: 90%;
            }
        }
    }
    & > img {
        @media screen and (max-width: 1200px) {
            transform: translateX(2%) !important;
            width: calc(100% + 6vw) !important;
        }
        @media screen and (max-width: 1100px) {
            transform: translateX(-7%) !important;
            width: calc(100% + 10vw) !important;
        }
        @media screen and (max-width: 1000px) {
            transform: translateX(-14%) !important;
            width: calc(100% + 14vw) !important;
        }
        @media screen and (max-width: 899px) {
            transform: translateX(10%)!important;
            width: 119%!important;
        }
    }
    button {
        margin-top: 5.7%;
    }
}
.sewingItemHeaderContainer {
    .textContainer {
        width: 70%;
    }
    .buttonAndSizesContainer {
        display: flex;
        margin-top: 10%;
        @media screen and (max-width: 1500px) {
            margin-top: 8%;
        }
        @media screen and (max-width: 500px) {
            flex-direction: column;
            align-items: center;
            width: fit-content;
        }
        .sizesContainer {
            margin-left: 10%;
            @media screen and (max-width: 500px) {
                margin-left: 0;
                margin-top: 5%;
            }
            .sign {
                @include sign;
                font-weight: bold;
            }
            .sizes {
                margin-top: 10px;
                display: flex;
                .size {
                    &:not(:first-child) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}
