@import "./../../../app.module.scss";

.contactsContainer {
    .phoneAndEmailContainer {
        display: flex;
        flex-direction: column;
        & > a {
            @include sign;
        }
        .email {
            text-decoration-line: underline;
            text-underline-offset: 3px;
        }
    }
    .socialNetworksContainer {
        @include adaptiveValue('margin-top', 30, 15);
        a:not(:first-child) {
            margin-left: 4.2%;
        }
        a {
            display: inline-flex;
            width: fit-content;
            height: fit-content;
            align-items: center;
            justify-content: center;
            svg {
                width: 35px;
                height: 35px;
            }
        }
    }
}