@import "./../../../app.module.scss";

@mixin signsFontSize {
    @include adaptiveValue('font-size', 24, 18);
    font-weight: 600;
}

.mainContainer {
    .article {
        @include article;
    }
    .cardsContainer {
        @include adaptiveValue('margin-top', 40, 10);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
        @media screen and (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 899px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
        }
        .cardContainer {
            border-radius: 15px;
            .media {
                @include adaptiveValue('height', 380, 250);
                background-color: #F1F1F8;
            }
            .content {
                .name {
                    @include signsFontSize;
                }
            }
            .actions {
                justify-content: space-between;
                padding: 8px 16px;
                .price {
                    @include signsFontSize;
                    color: #C4C4C4;
                }
                .basket {
                    cursor: pointer;
                    img {
                        @include adaptiveValue('width', 45, 34);
                    }
                }
            }
        }
    }
    .pagination {
        margin-top: 25px;
    }
}
.withPopUpContainer {
    // overflow-y: auto;
    .withPopUp {
        display: grid;
        grid-template-columns: minmax(0, 3fr) minmax(0, 4fr);
        gap: 55px;
        width: 1040px;
        height: 690px;
        border-radius: 25px;
        background-color: white;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 30px;
        font-family: 'gilroy';
        box-sizing: border-box;
        @media screen and (max-width: 1200px) {
            width: 96%;
            height: 615px;
            position: relative;
            transform: none;
            gap: 30px;
            padding: 20px;
            margin: 40px auto;
            inset: 0;
        }
        @media screen and (max-width: 899px) {
            width: 92%;
            grid-template-columns: minmax(0, 1fr);
            height: fit-content;
            grid-template-rows: 300px auto;
            gap: 20px;
            padding: 15px;
        }
        .closeIcon {
            @include adaptiveValue('width', 50, 20);
            position: absolute;
            right: 0;
            top: 0;
            margin: 16px 16px 0 0;
            cursor: pointer;
            @media screen and (max-width: 899px) {
                margin: -35px 0 0 0;
                filter: invert(100%);
            }
        }
        & > div > ul { //dots container
            position: initial;
            display: grid!important;
            gap: 10px;
            grid-template-columns: repeat(5, 1fr);
            margin-top: 5px;
            @media screen and (max-width: 1200px) and (min-width: 900px) {
                margin-top: 0px;
            }
            @media screen and (max-width: 899px) {
                height: 55px;
            }
            li {
                width: 100%;
                height: 100%;
                opacity: 0.7;
                margin: 0;
                @media screen and (max-width: 899px) {
                    height: 55px;
                }
            }
            li[class='slick-active'] {
                opacity: 1;
            }
        }
        & > div > button { //arrows
            width: 40px;
            height: 40px;
            z-index: 1;
            right: 4%;
            &::before {
                font-size: 40px;
            }
            &:first-child {
                left: 4%;
                right: 0;
            }
        }
        .carousel {
            & > div[class=slick-list] {
                height: 88%;
                @media screen and (max-width: 899px) {
                    height: 80%;
                }
                & > div[class=slick-track] {
                    height: 100%;
                    & > div {
                        
                        & > div {
                            height: 100%;
                            img {
                                height: 100%;
                                border-radius: 15px;
                                @media screen and (max-width: 1200px) {
                                    max-height: 497px;
                                }
                            }
                        }
                    }
                }
            }
            .pagingItem {
                width: 100%;
                height: 70px;
                @media screen and (max-width: 899px) {
                    height: 100%;
                }
            }
        }
        .contentContainer {
            display: grid;
            grid-template-rows: 52px 35px 42px 125px 374px;
            @media screen and (max-width: 1200px) {
                grid-template-rows: 52px 32px 35px 85px 371px;
            }
            @media screen and (max-width: 899px) {
                grid-template-rows: 30px 35px 85px 415px;
            }
            .breadcrumbs {
                width: 90%;
                margin-bottom: 0;
                overflow-y: auto;
            }
            .name {
                @include adaptiveValue('font-size', 32, 18);
                font-weight: 700;
                text-transform: uppercase;
                display: block;
            }
            .price {
                @include adaptiveValue('font-size', 24, 16);
                font-weight: 600;
            }
            .description {
                line-height: 130%;
                color: $grayColor;
                overflow-y: auto;
            }
            .componentAndDescriptionContainer {
                margin-top: auto;
                display: flex;
                height: 364px;
                flex-direction: column;
                @media screen and (max-width: 899px) {
                    height: 402px;
                }
                .sizesContainer {
                    .sign {
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .sizes {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        .size {
                            color: #524983;
                            font-size: 14px;
                            cursor: pointer;
                            &:not(:first-child) {
                                margin-left: 20px;
                            }
                            &.activeSize {
                                color: $mainBlackColor;
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                .characteristicsContainer {
                    box-shadow: none;
                    margin-top: 26px;
                    color: $mainBlackColor;
                    @media screen and (max-width: 1200px) {
                        margin-top: 13px;
                    }
                    @media screen and (max-width: 899px) {
                        margin-top: 20px;
                    }
                    &::before {
                        display: none;
                    }
                    .sign {
                        font-weight: 600;
                        font-size: 18px;
                        justify-content: flex-start;
                        min-height: unset;
                        padding-left: 0;
                        width: fit-content;
                        div:first-child { //name
                            flex-grow: initial;
                            margin: 0;
                        }
                        div:last-child { //arrow
                            margin-left: 10%;
                            margin-bottom: -1%;
                        }
                    }
                    .detailsContainer {
                        padding-left: 0;
                        p {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            padding: 15px 0;
                            border-bottom: 1px solid #524983;
                            @media screen and (max-width: 899px) {
                                grid-template-columns: 1fr;
                                gap: 5px;
                                padding: 10px 0;
                            }
                            span:last-child  {
                                color: $grayColor;
                            }
                        }
                    }
                }
                .button {
                    margin-top: auto;
                    @media screen and (max-width: 440px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}